@{
    ViewData["Title"] = "Privacy Policy";
}



<nav>
    <ul>
        <li>  <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Index">Books Library</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/privacy">Privacy Policy</a></li>
        <li><a href="/your-link">Your Link</a></li> <!-- Add your desired link here -->
    </ul>
</nav>

<p>Use this page to detail your site's privacy policy.</p>
