<ul>
   
    <li><a href="#">Logout</a></li>

    <li> <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>


    <li>  <a class="nav-link text-dark" asp-area="" asp-controller="Author" asp-action="Index">Author Profile</a></li>
    <li>  <a class="nav-link text-dark" asp-area="" asp-controller="Author" asp-action="SubbmitBook">Subbmit Book </a></li>
    <li> <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login">Login</a></li>

</ul>
