<ul>
  
    <li><a href="#">Logout</a></li>


    <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li> <a class="nav-link text-dark" asp-area="" asp-controller="Reviwer" asp-action="GetReview">Get Review </a></li>
    <li><a class="nav-link text-dark" asp-area="" asp-controller="Reviwer" asp-action="SubbmitReview">Subbmit Review </a></li>
    <li><a class="nav-link text-dark" asp-area="" asp-controller="Reviwer" asp-action="Index">Online Review </a></li>
    <li> <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login">Login</a></li>

</ul>
