@model C_Models.Login

<div class="card">
    <div class="card-body">
        <h1 class="card-title">Register</h1>

        <form asp-action="Register">
            <div class="form-group">
                <label asp-for="UserName">Username:</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserPassword">Password:</label>
                <input asp-for="UserPassword" class="form-control" type="password" />
                <span asp-validation-for="UserPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserRole">Role:</label>
                <input asp-for="UserRole" class="form-control" />
                <span asp-validation-for="UserRole" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> 
<!-- About End -->
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/Theame/lib/wow/wow.min.js"></script>
<script src="~/Theame/lib/easing/easing.min.js"></script>
<script src="~/Theame/lib/waypoints/waypoints.min.js"></script>
<script src="~/Theame/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="~/Theame/js/main.js"></script>


