@{
    ViewData["Title"] = "Reset Password Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reset Password Confirmation</h1>

<p>Your password has been successfully reset.</p>
<p>Please keep your new password secure.</p>

@if (!string.IsNullOrEmpty(ViewBag.NewPassword))
{
    <p>Your new password is: <strong>@ViewBag.NewPassword</strong></p>
}
<p>If You want to update it  click on link below</p>
<p><a href="@Url.Action("ChangePasswordAgain", "Login")">Click Here</a></p>


@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success">
        @ViewBag.SuccessMessage
    </div>
}